@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>User Page</h1>
        <p>Welcome @User.Identity.Name</p>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
</body>
</html>
