@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <p>Not permit to view this page</p>
        @Html.ActionLink("Home", "Index", "Home")
    </div>
</body>
</html>
