@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <p>Manufacturer Create</p>
        @Html.ActionLink("Logout", "Logout", "Account")
    </div>
</body>
</html>
